[MASTER]
ignore=.git env

[BASIC]
good-names=i,
    j,
    k,
    n,
    m,
    ex,
    ip,
    Run,
    _



[MESSAGES CONTROL]
disable=duplicate-code,
        no-else-return,
        fixme

[DESIGN]
max-locals=25
max-args=8

[REPORTS]
output-format=colorized
reports=no

[FORMAT]
expected-line-ending-format=LF
ignore-long-lines=(^\s*(# )?<?https?://\S+>?$|.*VarBind.*ObjectIdentifier.*|# TODO)
max-line-length=79
