[MASTER]
ignore=.git env

[MESSAGES CONTROL]
# "bad-whitespace" is temporarily disabled as fixing them would cause conflicts
# with PR #32
disable=bad-whitespace,
        duplicate-code

[REPORTS]
output-format=colorized
reports=no

[FORMAT]
expected-line-ending-format=LF
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
max-line-length=79
