[tool.black]
line_length = 80

[tool.isort]
force_grid_wrap = 0
include_trailing_comma = true
known_third_party = ["schema", "floss", "jargon"]
line_length = 80
multi_line_output = 3
not_skip = "__init__.py"
use_parentheses = true
virtual_env = "env"

[tool.pylint."messages control"]
disable = ["C0330", "C0326"]

[tool.pylint.format]
max-line-length = "80"

[tool.poetry]
name = "puresnmp"
version = "1.9.1"
description = "Pure Python SNMP implementation"
authors = ["Michel Albert <michel@albert.lu>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/exhuma/puresnmp"
repository = "https://github.com/exhuma/puresnmp"
keywords = ["networking", "snmp"]
include = ["puresnmp/py.typed"]
classifiers=[
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Topic :: System :: Networking",
    "Topic :: System :: Networking :: Monitoring",
    "Topic :: System :: Systems Administration",
]

[tool.poetry.dependencies]
python = "^3.6"
t61codec = "^1.0.1"
x690 = "^0.2.0"

[tool.poetry.dev-dependencies]
pytest = "^6.1.1"
pytest-asyncio = "^0.14.0"
sphinx = "^3.2.1"
sphinx-rtd-theme = "^0.5.0"
pylint = "^2.6.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
